server:
  port: 8084

spring:
  application:
    name: USER-SERVICE
  datasource:
    url: jdbc:postgresql://${HOST_DB}:${PORT_USER_DB}/${USER_DB_NAME}
    username: ${USER_DB}
    password: ${PASSWORD_DB}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

application:
  security:
    jwt:
      secret-key: ${TOKEN_SIGNING_KEY}
      expiration: ${TOKEN_EXPIRATION}
      refresh-token:
        expiration: ${TOKEN_REFRESH_EXPIRATION}
